<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/automationProjects/SeleinumJavaFramework/src/test/java/demo/TestNGRetryFailedDemo.java">
        <classes>
            <class name="demo.TestNGRetryFailedDemo">
                <methods>
                    <include name="test"/>
                    <include name="test2"/>
                    <include name="test3"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>